<nz-layout class="dashboard">
  <!-- Sider -->
  <div
    class="dashboard__sider"
    #refSider
    style="width: 250px"
    [class.show]="isCollapsedMobile"
  >
    <div class="dashboard__logo">
      <img
        class="dashboard__logo--image"
        width=""
        src="./assets/images/splashscreen.png"
        alt=""
      />
    </div>
    <ul nz-menu nzMode="inline" class="dashboard__menu">
      <li class="dashboard__menu__item" nz-menu-item>
        <i nz-icon nzType="home" class="dashboard__menu__item--icon"></i>
        <span class="text">{{ "MENU.HOME" | translate }}</span>
      </li>
    </ul>
  </div>
  <nz-layout>
    <!-- Header Mobile -->
    <div
      [class.rotateIconHam]="isCollapsedMobile"
      [class.rotateIconReset]="!isCollapsedMobile"
      class="dashboard__header__mobile--icon"
      (click)="isCollapsedMobile = !isCollapsedMobile"
    >
      <button class="buttonTranparent hambuger">
        <svg class="icon icon-mobile">
          <use xlink:href="/assets/all.svg#hamburger"></use>
        </svg>
      </button>
    </div>
    <div
      class="dashboard__header__mobile--iconRight"
      (click)="isCollapsedMenuRight = !isCollapsedMenuRight"
    >
      <button class="buttonTranparent">
        <i
          [class.rotateIcon]="isCollapsedMenuRight"
          [class.rotateIconReset]="!isCollapsedMenuRight"
          nz-icon
          nzType="align-right"
          nzTheme="outline"
          style="font-size: 25px"
        ></i>
      </button>
    </div>
    <div class="dashboard__header__mobile">
      <div class="dashboard__header__mobile__logo">
        <img
          class="dashboard__logo--image"
          src="./assets/images/splashscreen.png"
          alt=""
        />
      </div>
    </div>
    <!-- Menu Of Mobile -->
    <div
      class="dashboard__header__mobile__menu"
      [class.show]="isCollapsedMenuRight"
    >
      <!-- Menu Of Mobile Left -->
      <div class="dashboard__header__mobile__menu__left">
        <div class="dashboard__header__mobile__menu__left--children">
          <div class="dashboard__header__mobile__menu__left--icon">
            <svg class="icon icon-left">
              <use xlink:href="/assets/all.svg#email-circle"></use>
            </svg>
          </div>
          <div class="dashboard__header__mobile__menu__left--string">
            <span
              class="dashboard__header__mobile__menu___left--text"
              innerHTML="{{ 'HEAD.LINK_CUSTOMER_SERV' | translate }}"
            >
            </span>
          </div>
        </div>
        <div class="dashboard__header__mobile__menu__left--children">
          <div class="dashboard__header__mobile__menu__left--icon">
            <svg class="icon icon-left">
              <use xlink:href="/assets/all.svg#question-circle"></use>
            </svg>
          </div>
          <div class="dashboard__header__mobile__menu__left--string">
            <span
              class="dashboard__header__mobile__menu___left--text"
              innerHTML="{{ 'HEAD.LINK_IT_SERV' | translate }}"
            >
            </span>
          </div>
        </div>
      </div>
      <!-- Menu Of Mobile Right -->
      <div class="dashboard__header__mobile__menu__right">
        <div class="dashboard__header__mobile__menu__left--children">
          <div class="dashboard__header__mobile__menu__left--icon">
            <svg class="icon icon-left">
              <use xlink:href="/assets/all.svg#font-typo"></use>
            </svg>
          </div>
          <div class="dashboard__header__mobile__menu__left--string">
            <nz-select
              class="dashboard__header__mobile__menu__left--select"
              [ngModel]="fontZoomMobile"
              (ngModelChange)="handleFontZoom($event)"
              nzBorderless="true"
              nzCustomContent="true"
            >
              <nz-option
                nzValue="1rem"
                nzLabel="{{ 'HEAD.ZOOM_NORMAL' | translate }}"
              ></nz-option>
              <nz-option
                nzValue="1.1rem"
                nzLabel="{{ 'HEAD.ZOOM_1X' | translate }}"
              ></nz-option>
              <nz-option
                nzValue="1.2rem"
                nzLabel="{{ 'HEAD.ZOOM_2X' | translate }}"
              ></nz-option>
              <nz-option
                nzValue="1.3rem"
                nzLabel="{{ 'HEAD.ZOOM_3X' | translate }}"
              ></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="dashboard__header__mobile__menu__left--children">
          <div class="dashboard__header__mobile__menu__left--icon">
            <svg class="icon icon-left">
              <use xlink:href="/assets/all.svg#earth"></use>
            </svg>
          </div>
          <div class="dashboard__header__mobile__menu__left--string">
            <nz-select
              class="dashboard__header__mobile__menu__left--select"
              [ngModel]="language"
              (ngModelChange)="handleChangeLanguage($event)"
              nzBorderless="true"
              nzCustomContent="true"
            >
              <nz-option
                nzValue="en"
                nzLabel="{{ 'LANG.EN' | translate }}"
              ></nz-option>
              <nz-option
                nzValue="jp"
                nzLabel="{{ 'LANG.JP' | translate }}"
              ></nz-option>
              <nz-option
                nzValue="zh-cn"
                nzLabel="{{ 'LANG.ZH-CN' | translate }}"
              ></nz-option>
              <nz-option
                nzValue="zh-tw"
                nzLabel="{{ 'LANG.ZH-TW' | translate }}"
              ></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="dashboard__header__mobile__menu__left--children">
          <div class="dashboard__header__mobile__menu__left--icon">
            <button
              class="dashboard__header__right__bellMobile buttonTranparent"
              nz-popover
              [(nzPopoverVisible)]="openNotifycationMobile"
              nzPopoverTrigger="click"
              (nzPopoverVisibleChange)="handleZoomNotication()"
              [nzPopoverContent]="contentTemplate"
            >
              <svg class="icon icon-left" style="margin-right: 10px">
                <use xlink:href="/assets/all.svg#bell"></use>
              </svg>
              <div
                class="dashboard__header__right__bellMobile__notificationMobile text"
              >
                {{ countNotiUnRead }}
              </div>
            </button>
          </div>
          <div class="dashboard__header__mobile__menu__left--string">
            <span class="dashboard__header__mobile__menu___left--text text">
              {{ userProfile?.data?.fullName }}
            </span>
          </div>
        </div>
        <div
          class="dashboard__header__mobile__menu__left--children"
          nz-popover
          [(nzPopoverVisible)]="openProfileMobile"
          nzPopoverTrigger="click"
          (nzPopoverVisibleChange)="handleZoomUserProfile()"
          [nzPopoverContent]="avatarTemplate"
          nzPopoverPlacement="bottomRight"
        >
          <div class="dashboard__header__mobile__menu__left--icon">
            <button
              class="dashboard__header__right__avatar--nzAvatar text buttonTranparent"
            >
              {{ userProfile?.data?.fullName?.substring(0, 1) }}
            </button>
          </div>
          <div class="dashboard__header__mobile__menu__left--string">
            <span class="dashboard__header__mobile__menu___left--text text">
              {{ userProfile?.data?.fullName }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Header PC -->
    <nz-header class="dashboard__header">
      <!-- Header Left -->
      <div class="dashboard__header__left">
        <ul class="dashboard__header__left--ul">
          <li class="dashboard__header__left--li">
            <button
              class="dashboard__header__left--icon buttonTranparent"
              nz-button
              nz-popover
              [nzPopoverContent]="emailCircle"
              nzPopoverPlacement="bottomLeft"
            >
              <svg class="icon icon-left">
                <use xlink:href="/assets/all.svg#email-circle"></use>
              </svg>
            </button>
            <span class="dashboard__header__left--string">
              <span
                class="dashboard__header__left--text"
                innerHTML="{{ 'HEAD.LINK_CUSTOMER_SERV' | translate }}"
              >
              </span>
            </span>
          </li>
          <ng-template #emailCircle>
            <div
              class="dashboard__header__left--text"
              innerHTML="{{ 'HEAD.LINK_CUSTOMER_SERV' | translate }}"
            ></div>
          </ng-template>
          <li class="dashboard__header__left--li">
            <button
              class="dashboard__header__left--icon buttonTranparent"
              nz-button
              nz-popover
              [nzPopoverContent]="questionCircle"
              nzPopoverPlacement="bottomLeft"
            >
              <svg class="icon icon-left">
                <use xlink:href="/assets/all.svg#question-circle"></use>
              </svg>
            </button>
            <span class="dashboard__header__left--string">
              <span
                class="dashboard__header__left--text"
                innerHTML="{{ 'HEAD.LINK_IT_SERV' | translate }}"
              >
              </span>
            </span>
          </li>
          <ng-template #questionCircle>
            <div
              class="dashboard__header__left--text"
              innerHTML="{{ 'HEAD.LINK_IT_SERV' | translate }}"
            ></div>
          </ng-template>
        </ul>
      </div>
      <!-- Header Right -->
      <div class="dashboard__header__right">
        <!-- Header Right Font -->
        <div class="dashboard__header__right__font">
          <svg class="icon icon-home">
            <use xlink:href="/assets/all.svg#font-typo"></use>
          </svg>
          <nz-select
            class="dashboard__header__right__select"
            [ngModel]="fontZoom"
            (ngModelChange)="handleFontZoom($event)"
            nzBorderless="true"
          >
            <nz-option
              nzValue="1rem"
              nzLabel="{{ 'HEAD.ZOOM_NORMAL' | translate }}"
            ></nz-option>
            <nz-option
              nzValue="1.1rem"
              nzLabel="{{ 'HEAD.ZOOM_1X' | translate }}"
            ></nz-option>
            <nz-option
              nzValue="1.2rem"
              nzLabel="{{ 'HEAD.ZOOM_2X' | translate }}"
            ></nz-option>
            <nz-option
              nzValue="1.3rem"
              nzLabel="{{ 'HEAD.ZOOM_3X' | translate }}"
            ></nz-option>
          </nz-select>
        </div>
        <!-- Header Right Language -->
        <div class="dashboard__header__right__language">
          <svg class="icon icon-home">
            <use xlink:href="/assets/all.svg#earth"></use>
          </svg>
          <nz-select
            class="dashboard__header__right__select"
            [ngModel]="language"
            (ngModelChange)="handleChangeLanguage($event)"
            nzBorderless="true"
          >
            <nz-option
              nzValue="en"
              nzLabel="{{ 'LANG.EN' | translate }}"
            ></nz-option>
            <nz-option
              nzValue="jp"
              nzLabel="{{ 'LANG.JP' | translate }}"
            ></nz-option>
            <nz-option
              nzValue="zh-cn"
              nzLabel="{{ 'LANG.ZH-CN' | translate }}"
            ></nz-option>
            <nz-option
              nzValue="zh-tw"
              nzLabel="{{ 'LANG.ZH-TW' | translate }}"
            ></nz-option>
          </nz-select>
        </div>
        <!-- Header Right Notification -->
        <button
          nz-popover
          [(nzPopoverVisible)]="openNotifycation"
          nzPopoverTrigger="click"
          (nzPopoverVisibleChange)="handleZoomNotication()"
          [nzPopoverContent]="contentTemplate"
          nzPopoverPlacement="bottomRight"
          class="dashboard__header__right__bell buttonTranparent"
        >
          <svg class="icon icon-home">
            <use xlink:href="/assets/all.svg#bell"></use>
          </svg>
          <div
            *ngIf="countNotiUnRead != 0"
            class="dashboard__header__right__bell__notification text"
          >
            {{ countNotiUnRead }}
          </div>
        </button>
        <!-- Notification Template -->
        <ng-template #contentTemplate>
          <div class="dashboard-notification">
            <div class="dashboard-notification-title">
              <div class="dashboard-notification-title-left">
                <h2 class="dashboard-notification-title-text">
                  {{ "HEAD.NOTIFICATION" | translate }}
                </h2>
                <!-- Icon -->
                <button
                  class="dashboard-notification-title-icon buttonTranparent"
                  (click)="handleResetNotification()"
                >
                  <i nz-icon nzType="sync" nzTheme="outline"></i>
                </button>
              </div>
              <div class="dashboard-notification-title-right">
                <svg class="icon" style="width: 20px; cursor: pointer">
                  <use xlink:href="/assets/all.svg#hamburger"></use>
                </svg>
              </div>
            </div>
            <div class="dashboard-notification-action">
              <button
                [class.activeNoti]="activeNotify == 1"
                (click)="handleNotifycationAll()"
                class="dashboard-notification-button text"
              >
                {{ "HEAD.ALL" | translate }}
              </button>
              <button
                [class.activeNoti]="activeNotify == 2"
                (click)="handleNotifycationRead()"
                class="dashboard-notification-button text"
              >
                {{ "HEAD.READ" | translate }}
              </button>
              <button
                [class.activeNoti]="activeNotify == 3"
                (click)="handleNotifycationUnRead()"
                class="dashboard-notification-button text"
              >
                {{ "HEAD.UNREAD" | translate }}
              </button>
            </div>
            <!-- <div > -->
            <cdk-virtual-scroll-viewport
              class="dashboard-notification-message"
              itemSize="100"
              #refScrollNoti
              (scrolledIndexChange)="nextListItem($event)"
            >
              <!-- Message -->
              <div
                *cdkVirtualFor="
                  let notifyItem of notification?.data;
                  let i = index;
                  trackBy: trackByIdx
                "
                class="dashboard-notification-message-children"
                #refNotiMessage
              >
                <div class="dashboard-notification-message-left">
                  <nz-badge
                    *ngIf="!notifyItem.hasAlreadyRead"
                    style="margin: 0px 10px 0 0"
                    nzColor="#108ee9"
                  ></nz-badge>
                  <span
                    *ngIf="notifyItem.hasAlreadyRead"
                    style="margin: 22px 10px 0 0; padding: 5px"
                  ></span>
                </div>
                <div class="dashboard-notification-message-right">
                  <div class="dashboard-notification-message-content text">
                    {{ notifyItem.title }}
                  </div>
                  <div class="dashboard-notification-message-date text">
                    {{ notifyItem.createdDate | date: "dd/MM/YYYY hh:mm:ss a" }}
                  </div>
                </div>
              </div>
            </cdk-virtual-scroll-viewport>
            <!-- </div> -->
          </div>
        </ng-template>
        <!-- Header Right Avatar -->
        <div class="dashboard__header__right__avatar">
          <button
            #refAvatar
            nz-popover
            [(nzPopoverVisible)]="openProfile"
            nzPopoverTrigger="click"
            (nzPopoverVisibleChange)="handleZoomUserProfile()"
            [nzPopoverContent]="avatarTemplate"
            nzPopoverPlacement="bottomRight"
            class="dashboard__header__right__avatar--nzAvatar buttonTranparent text"
          >
            {{ userProfile?.data?.fullName?.substring(0, 1) }}
          </button>
        </div>
        <!-- User Profile Template -->
        <ng-template #avatarTemplate>
          <div class="dashboard-userInfoAv" #refPopup>
            <div class="dashboard-userInfoAv-header">
              <span class="dashboard-userInfoAv-header--text">
                {{ "BOSTON_SCIENTIFIC.BRAND_NAME" | translate }}
              </span>
              <button
                class="dashboard-userInfoAv-header--signout buttonTranparent"
                (click)="handleLogout()"
              >
                {{ "HEAD.LOG_OUT" | translate }}
              </button>
            </div>
            <div class="dashboard-userInfoAv-content">
              <div class="dashboard-userInfoAv-content-left">
                <div class="dashboard-userInfoAv__avatar text" refAvatar>
                  {{ userProfile?.data?.fullName?.substring(0, 1) }}
                </div>
              </div>
              <div class="dashboard-userInfoAv-content-right">
                <div class="dashboard-userInfoAv-content-right-username text">
                  {{ userProfile?.data?.fullName }}
                </div>
                <div class="dashboard-userInfoAv-content-right-text text">
                  {{ userProfile?.data?.email }}
                </div>
                <div class="dashboard-userInfoAv-content-right-text text">
                  <span style="margin-right: 5px"
                    >{{ "MENU.ADMIN.ROLE" | translate }}:</span
                  >
                  {{ userProfile?.data?.role?.name }}
                </div>
              </div>
            </div>
            <div class="dashboard-userInfoAv-footer">
              <div class="dashboard-userInfoAv-footer--left"></div>
              <div class="dashboard-userInfoAv-footer--right">
                <div class="dashboard-userInfoAv-footer--text text">
                  {{ "COMMON.CHANGE_PASS" | translate }}
                </div>
                <div
                  class="dashboard-userInfoAv-footer--text text buttonTranparent"
                  (click)="handleSwitchCountry()"
                >
                  {{ "login.SWITCH_COUNTRY" | translate }}
              </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </nz-header>
    <div class="dashboard__content">
      <div class="dashboard__content__main">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>
