.ant-select-dropdown {
  all: unset !important;
}
.active {
  border: 1px solid #163b6d !important;
}

.centerToLeft {
  transform: translateX(-200%);
  transition: transform 1s;
}

.leftToCenter {
  transform: translateX(0);
  transition: transform 1.5s;
}

.rightToCenter {
  transform: translateX(0);
  transition: transform 1s;
}

.centerToRight {
  transform: translateX(200%);
  transition: transform 1s;
}

.show {
  display: block;
}

.hidden {
  display: none !important;
}

.login {
  &__pengiun {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    &__chooseLanguage {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 40%;
      flex-direction: column;
      justify-content: center;
      &--text {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        text-transform: capitalize;
        line-height: 20px;
        color: #163b6d;
      }
      &--choose {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      &--select {
        text-align: center;
        color: #99b2c7;
        margin-top: 16px;
        border: 1px solid #dce6ef;
        background-color: white;
        display: flex;
        justify-content: center;
        width: 404px;
        border-radius: 10px;
      }
    }
  }
  &__pengiun__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 20%;
  }
  &__pengiun__logo--image {
    width: 204px;
    height: 103px;
  }
  &__pengiun__action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    position: relative;
    &__form {
      position: absolute;
      display: flex;
      width: 100%;
      border-radius: 10px;
      flex-direction: column;
      padding: 50px;
      &--form-group {
        position: relative;
      }
      &--icon {
        position: absolute;
        right: 20px;
        top: 6px;
        font-size: 15px;
        z-index: 10;
        color: #b1b7bd;
        cursor: pointer;
      }
      &--title {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 1.5em;
        color: #163b6d;
        font-weight: bold;
      }
      &--login {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        -webkit-box-shadow: 1px 2px 15px 0px rgba(128, 125, 125, 0.75);
        -moz-box-shadow: 1px 2px 15px 0px rgba(128, 125, 125, 0.75);
        box-shadow: 1px 2px 15px 0px rgba(128, 125, 125, 0.75);
      }
      .login-form {
        width: 100%;
        padding: 30px;
      }
      &--input {
        width: 100%;
        padding: 5px;
        border-radius: 10px !important;
      }
      &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
        &--back {
          border: 1px solid #163b6d;
          color: #163b6d;
          padding: 0 15px;
        }
        &--login {
          border: none;
          background-color: #163b6d;
          color: white;
          padding: 0 15px;
        }
        &--loginDisable {
          border: none;
          padding: 0 15px;
        }
      }
    }
    &__button {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: calc(440px + (24 - 10) * ((100vw - 375px) / (1920 - 375)));
      &--bsc {
        display: flex;
        padding: 5px;
        justify-content: center;
        border-radius: 50px;
        background: #1a457b;
        align-items: center;
        gap: 10px;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      &--non {
        margin-top: 18px;
        display: flex;
        padding: 5px;
        justify-content: center;
        border-radius: 50px;
        background: #2e80ac;
        gap: 10px;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .login {
    &__pengiun {
      display: flex;
      flex-direction: column;
    }
    &__pengiun__logo--image {
      width: calc(280px + (24 - 10) * ((100vw - 375px) / (1920 - 375)));
      filter: brightness(0) invert(1) drop-shadow(0 0 12px rgba(0, 0, 0, 0.48));
    }
  }
}

@media screen and (max-width: 800px) {
  .login {
    &-form {
      padding: 10px !important;
    }
    &__pengiun__logo {
      &--image {
        width: 150px !important;
        height: 64px !important;
      }
    }
    &__pengiun {
      display: flex;
      flex-direction: column;
      &__chooseLanguage {
        &--choose {
          margin-top: 20px;
        }
      }
    }
    &__pengiun__logo--image {
      width: calc(310px + (24 - 10) * ((100vw - 375px) / (1920 - 375)));
      filter: none;
    }
    &__pengiun__action {
    }
    &__pengiun__chooseLanguage--select {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .login__pengiun__action__form {
    padding: 20px !important;
  }
  .login__pengiun__action__button {
    padding: 20px;
  }
}
