@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");

* {
  font-family: "Montserrat" !important;
}

.wraper {
  display: flex;
  justify-content: center;
}
.login {
  display: flex;
  flex-direction: column;
  &__main {
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  &__logo {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    &--image {
      width: 320px;
      height: 225px;
    }
  }
  &__text {
    margin-top: 64px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #004072;
  }
  &__border {
    width: 630px;
    height: 1px;
    background: #8C8C8C;
    margin-bottom: 91px;
  }

  &__form {
    &__children {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    &__eye {
      position: absolute;
      right: 10px;
      bottom: 7px;
      cursor: pointer;
    }
    &__input {
      margin-top: 5px;
      border: 1px solid rgb(153, 153, 153);
      border-radius: 2px;
      padding: 7px;
      &:focus {
        outline: none;
        border: 1px solid rgb(134, 205, 252);
      }
    }
    &__button {
      margin-top: 49px;
      display: flex;
      justify-content: space-between;
      &--back {
        cursor: pointer;
        padding: 8px 30px 8px 30px;
        border: 1px solid #004072;
        background-color: white;
        color: #004072;
        border-radius: 20px;
      }
      &--login {
        cursor: pointer;
        padding: 8px 30px 8px 30px;
        border: 1px solid #004072;
        background-color: #004072;
        color: white;
        border-radius: 20px;
      }
    }
  }
  &__vector {
    position: fixed;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    &__left {
      display: flex;
      width: 100%;
      position: relative;
      &--one {
        z-index: 3;
        position: absolute;
        width: 854px;
        height: 606px;
        left: 0px;
        top: 474px;
        clip-path: polygon(0 2%, 0% 100%, 100% 100%);
        background: linear-gradient(237.11deg, #50b0fb 51.43%, #1d4a6d 98.69%);
      }
      &--two {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 960px;
        height: 681px;
        top: 399px;
        clip-path: polygon(0 2%, 0% 100%, 100% 100%);
        background: linear-gradient(225.4deg, #0660a7 50.39%, #024d88 62.1%);
      }
      &--three {
        z-index: 1;
        position: absolute;
        width: 1066px;
        height: 756px;
        left: 0px;
        top: 324px;
        clip-path: polygon(0 2%, 0% 100%, 100% 100%);
        background: linear-gradient(47.57deg, #004072 42.98%, #024e89 48.1%);
      }
    }
    &__right {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: end;
      position: relative;
      &--one {
        z-index: 3;
        position: absolute;
        width: 854px;
        height: 606px;
        top: 474px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background: linear-gradient(46.79deg, #4eabf3 2.13%, #afdcff 49.76%);
      }
      &--two {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 960px;
        height: 681px;
        top: 399px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background: linear-gradient(225.4deg, #0660a7 50.39%, #024d88 62.1%);
      }
      &--three {
        z-index: 1;
        position: absolute;
        width: 1066px;
        height: 756px;
        top: 324px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background: white;
      }
      &--four {
        z-index: 0;
        position: absolute;
        width: 1066px;
        height: 756px;
        top: 324px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background: blue;
        border: 1px solid blue;
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .wraper {
  }
  .login {
    &__main {
    }
    &__logo {
      &--image {
        width: 220px;
        height: 125px;
      }
    }
    &__text {
      font-size: 24px;
    }
    &__border {
      width: 100%;
    }
    &__form {
      padding: 0 20px;
    }
    &__form__username {
    }
    &__form__input {
    }
    &__form__button {
    }
    &__form__button--back {
    }
    &__form__button--login {
    }
    &__vector {
      display: none;
    }
    &__vector__left {
    }
    &__vector__left--one {
    }
    &__vector__left--two {
    }
    &__vector__left--three {
    }
    &__vector__right {
    }
    &__vector__right--one {
    }
    &__vector__right--two {
    }
    &__vector__right--three {
    }
    &__vector__right--four {
    }
  }
  .fa {
    &-solid {
    }
    &-arrow-left-long {
    }
    &-arrow-right {
    }
  }
}



