.login {
  display: flex;
  width: 100%;
  height: 100%;
  &__left {
    width: 60%;
    &--image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__right {
    width: 40%;
  }
}
@media screen and (max-width: 1200px) {
  .login {
    width: 100%;
    height: 100%;
    &__left {
      position: fixed;
      width: 100%;
      height: 37%;
      &--image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__right {
      z-index: 1000;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .login {
    width: 100%;
    height: 100%;
    &__left {
      position: fixed;
      width: 100%;
      height: 100%;
      &--image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: heightMove 0.5s linear backwards ;
      }
    }
    &__background {
      position: fixed;
      background-color: rgba(250, 242, 242, 0.664);
      z-index: 999;
      width: 100%;
      height: 100%;
    }
    &__right {
      z-index: 1000;
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes heightMove {
  from {height: 50%;}
  to {height: 100%;}
}
