<div class="dashboard">
  <div class="dashboard__sider">sider</div>
  <div class="dashboard__content">
    <div class="dashboard__header">
      <div class="dashboard__header__left">
        <div class="dashboard__header__left--icon">
          <i class="fa fa-bars" aria-hidden="true" style="font-size: 25px"></i>
        </div>
        <div class="dashboard__header__left--text">Complaint Listing</div>
      </div>
      <div class="dashboard__header__right">
        <div class="dashboard__header__language">
          <img src="./assets/images/language.svg" />
        </div>
        <div class="dashboard__header__languageText">English</div>
        <div class="dashboard__header__languageText">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
        <div class="dashboard__header__languageText">|</div>
        <div class="dashboard__header__notifycation">
          <div class="dashboard__header__notifycation--number"></div>
          <i class="fa fa-bell" aria-hidden="true" style="font-size: 20px"></i>
        </div>
        <div class="dashboard__header__languageText">|</div>
        <div class="dashboard__header__avatar">
          <img
            src="./assets/images/logo.png"
            style="object-fit: fill"
            width="36px"
            height="36px"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="dashboard__main"></div>
  </div>
</div>
