<div class="dashboard">
  <div class="dashboard-content">
    <div class="dashboard-penbox--above">
      <!-- Item -->
      <div class="dashboard-itemIcon">
        <div class="dashboard-icon">
          <svg class="icon icon-mobile">
            <use xlink:href="/assets/all.svg#top-union"></use>
          </svg>
        </div>
        <div class="dashboard-text text">{{ "TOP.PRICE_INQ" | translate }}</div>
      </div>
      <!-- Item -->
      <div class="dashboard-itemIcon">
        <div class="dashboard-icon">
          <svg class="icon icon-mobile">
            <use xlink:href="/assets/all.svg#top-paper"></use>
          </svg>
        </div>
        <div class="dashboard-text text">
          {{ "TOP.INVENTORY_INQ" | translate }}
        </div>
      </div>
      <!-- Item -->
      <div class="dashboard-itemIcon">
        <div class="dashboard-icon">
          <svg class="icon icon-mobile">
            <use xlink:href="/assets/all.svg#top-sameday"></use>
          </svg>
        </div>
        <div class="dashboard-text text">
          {{ "TOP.ORDER_HISTORY" | translate }}
        </div>
      </div>
      <!-- Item -->
      <div class="dashboard-itemIcon">
        <div class="dashboard-icon">
          <svg class="icon icon-mobile">
            <use xlink:href="/assets/all.svg#top-notepad"></use>
          </svg>
        </div>
        <div class="dashboard-text text">
          {{ "TOP.ORDER_HISTORY_MR" | translate }}
        </div>
      </div>
      <!-- Item -->
      <div class="dashboard-itemIcon">
        <div class="dashboard-icon">
          <svg class="icon icon-mobile">
            <use xlink:href="/assets/all.svg#top-star"></use>
          </svg>
        </div>
        <div class="dashboard-text text">{{ "TOP.FAVORITE" | translate }}</div>
      </div>
    </div>
    <h2 class="dashboard-title text">{{ "ORDER.INDEX" | translate }}</h2>
    <div class="dashboard-penbox--down">
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">
          {{ "MENU.ORDER.TYPE_KE" | translate }}
        </div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">
          {{ "MENU.ORDER.TYPE_KB_ZKB" | translate }}
        </div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">
          {{ "MENU.ORDER.TYPE_ZTKA" | translate }}
        </div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">{{ "MENU.ORDER.TYPE_MB1A" | translate }}</div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">{{ "MENU.ORDER.TYPE_OR_PARENT" | translate }}</div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">{{ "MENU.ORDER.TYPE_ZRB" | translate }}</div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">{{ "MENU.ORDER.TYPE_SAMPLE" | translate }}</div>
      </div>
    </div>
    <h2 class="dashboard-title text">{{ "MENU.PRICING.INDEX" | translate }}</h2>
    <div class="dashboard-penbox--down">
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">{{ "REPORT.PRICING.CR_DR_TITLE" | translate }}</div>
      </div>
    </div>
  </div>
</div>
