<div class="dashboard">
  <div class="dashboard-content">
    <div class="dashboard-penbox--above">
      <!-- Item -->
      <div class="dashboard-itemIcon">
        <div class="dashboard-icon">
          <svg class="icon icon-mobile">
            <use xlink:href="/assets/all.svg#top-union"></use>
          </svg>
        </div>
        <div class="dashboard-text text">PriceInquiry</div>
      </div>
      <!-- Item -->
      <div class="dashboard-itemIcon">
        <div class="dashboard-icon">
          <svg class="icon icon-mobile">
            <use xlink:href="/assets/all.svg#top-paper"></use>
          </svg>
        </div>
        <div class="dashboard-text text">Inventory</div>
      </div>
      <!-- Item -->
      <div class="dashboard-itemIcon">
        <div class="dashboard-icon">
          <svg class="icon icon-mobile">
            <use xlink:href="/assets/all.svg#top-sameday"></use>
          </svg>
        </div>
        <div class="dashboard-text text">Order Inquiry</div>
      </div>
      <!-- Item -->
      <div class="dashboard-itemIcon">
        <div class="dashboard-icon">
          <svg class="icon icon-mobile">
            <use xlink:href="/assets/all.svg#top-notepad"></use>
          </svg>
        </div>
        <div class="dashboard-text text">Order History/My Request</div>
      </div>
      <!-- Item -->
      <div class="dashboard-itemIcon">
        <div class="dashboard-icon">
          <svg class="icon icon-mobile">
            <use xlink:href="/assets/all.svg#top-star"></use>
          </svg>
        </div>
        <div class="dashboard-text text">Favorite</div>
      </div>
    </div>
    <h2 class="dashboard-title text">ORDER</h2>
    <div class="dashboard-penbox--down">
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">Consignment Billing</div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">
          Consignment Request/Replenishment
        </div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">Consignment Transfer</div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">Demo (NFHU)</div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">Direct Order</div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">Even Exchange</div>
      </div>
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">Product Sample</div>
      </div>
    </div>
    <h2 class="dashboard-title text">Pricing</h2>
    <div class="dashboard-penbox--down">
      <div class="dashboard-itemNoIcon">
        <div class="dashboard-textNoIcon text">Standard CR/DR Memo</div>
      </div>

    </div>
  </div>
</div>
