/* You can add global styles to this file, and also import other style files */

.ant-popover-inner {
  border-radius: 5px !important;
}

.ant-menu-item-selected {
  background-color: #1a457b !important;
  border-right: none !important;
  color: black !important;
  border-radius: 5px;
  color: white !important;
}
.ant-select-item-option-selected {
}

.ant-select {
  height: calc(100% - 40px) !important;
}

.ant-select-item-option-active {
  background-color: #eaeffb !important;

}

.ant-menu-item-selected::after {
  all: unset !important;
}

.ant-select-dropdown {
  border-radius: 10px !important;
}
